<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
        {% for i in items %}
        <li>
            [{{i.category.name}} ]  {{i.name}}  | 
            {% for t in i.tags.all %}
            <span>#{{ t.name }}</span>
            {% endfor %}
            
            <a href='todo/edit/{{ i.id}}'>Edit</a>
    
        </li>
        {% endfor %}
    </ul>
</body>
</html>